<div class="contacts-section">
    <h1 style="text-align:center" class="font-family">INFORMATION</h1>
</div>
  
<div class="column">
    <div class="row">
        <div class="card">
            <h2>Hussain</h2>
            <img src="\assets\images\image1.jpg"  >
        <p class="title">Admin DEPT</p>
        <p>7036028147</p>
        <p><button class="button">Contact</button></p>    
        </div>
    </div>
</div>




<div class="column">
    <div class="card">
        <h4>Krishna kanth</h4>
        <img src="\assets\images\image 2.jpeg">
        <p class="title">Admin DEPT</p>
        <p>8305583055</p>
        <p><button class="button">Contact</button></p>            
     </div>
</div>
<div class="column">
    <div class="card">
        <h3 class="text-align">ASHOK CHAKRAVARHI</h3>
        <img src="assets/images/ashok.jpg.jpg" >
        <P class="title"> ADMIN DEP</P>
        <P> 8978917177</P>
        <P><button class="button"> Contact</button></P>
    </div>

</div>
<div class="column">
    <div class="card">
        <h3>Sai Bushan</h3>
        <p class="title">Admin DEPT</p>
        <p>9014040497</p>
        <p><button class="button">Contact</button></p>            
    </div>
</div>