<div class="contacts-section">
    <h1 style="text-align:center">Information</h1>
</div>
  
<div class="column">
    <div class="row">
        <div class="card">
            <h2>Hussain</h2>
        <p class="title">Admin DEPT</p>
        <p>7036028147</p>
        <p><button class="button">Contact</button></p>    
        </div>
    </div>
</div>

<div class="column">
    <div class="card">
        <h3>Sai Bushan</h3>
        <p class="title">Admin DEPT</p>
        <p>9014040497</p>
        <p><button class="button">Contact</button></p>            
    </div>
</div>


<div class="column">
    <div class="card">
        <h4>Krishna kanth</h4>
        <p class="title">Admin DEPT</p>
        <p>8305583055</p>
        <p><button class="button">Contact</button></p>            
     </div>
</div>