.title {
    background-color:#CC222A;
    text-align: center;
    padding:5px;
    color:#ffffff;
    border: #CC222A;
   ;
    
}
.broder{
    border:1px solid #CC222A;
}
a{
    text-decoration: none;
}
li{
    padding: 5px;
}