<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="broder">
                <h3 class="title"> political news</h3>
                <ul>
                    <li>
                        <a href="">వైసీపీ విముక్త ఆంధ్రప్రదేశే లక్ష్యం: పవన్‌ హాట్‌ కామెంట్స్‌!</a>
                    </li>
                    <li>
                        <a href="">ఈనాడు అధిపతికి మెగా బ్రదర్‌ ఫుల్‌ సపోర్టు!</a>
                    </li>
                    <li>
                        <a href="">ఇక్కడకు వచ్చేయండి.. రాహుల్ కు అయోధ్య పూజారి ఆహ్వానం</a>
                    </li>
                    <li>
                        <a href=""> భారత్ కీలక స్ధావరాల పై డ్రాగన్ కన్నేసిందా ?</a>
                    </li>
                    <li>
                        <a href="">బిగ్ క్వశ్చన్: అర్థరాత్రి వేళ ఏ కేసులో బండిని అరెస్టు చేశారు?</a>
                    </li>
    
                </ul>
            </div>
            
        </div>
        <div class="col-md-4 col-xs-12"></div>
        <div class="col-md-4 col-xs-12">
            <div class="broder">
                <h3 class="title"> movies news</h3>
                <ul>
                    <li>
                        <a href="">పవన్ మూవీ... దర్శకుడు నెం.5</a>
                    </li>
                    <li>
                        <a href="">మీ మల్లారెడ్డి గారే పెద్ద స్టార్ సెలబ్రిటీ.. చైతూ ఇంట్రెస్టింగ్ కామెంట్స్</a>
                    </li>
                    <li>
                        <a href="">ఉస్తాద్ కోసం లుక్కు మార్చిన PK</a>
                    </li>
                    <li>
                        <a href=""> విశ్వక్ కోసం సెట్ చేస్తున్న రవితేజ</a>
                    </li>
                    <li>
                        <a href=""> స‌మంత‌ పై గ్లోబ‌ల్ స్టార్ కామెంట్ వింటే అవాక్క‌వుతారు!</a>
                    </li>

                </ul>
            </div>
        </div>

    </div>
</div>