
<h3 class="text-center p-4" *ngIf="!minicart">Product Cart</h3>

<table class="table table-bordered table striped">
    <th >
        Product Img
    </th>
<th>
    Product Name
</th>
<th *ngIf="!minicart">
   Brand
</th>
<th>
    Quantity
 </th>
<th>
    Product price
</th>
<th>
    Action
</th>

<tr *ngFor="let item of cartItems; index as i">
    <td *ngIf="!minicart">
        <img [src]="item.images[0]" class="product-img">
    </td>
    <td>
       {{item.title}}
    </td>
    <td *ngIf="!minicart">
        {{item.brand}}
     </td>
     <td>
        <button class="btn btn-info" (click)="decrese(item)">-</button>
        {{item.qty}}
        <button class="btn btn-info" (click)="increase(item)">+</button>

     </td>
    <td>
        {{item.price | currency}}
     </td>
     <td>
       <button class="btn btn-info" (click)="deleteItem(i)">X</button>
     </td>

</tr>
<tr>
    <td colspan="4"><h3 class="text-center">Total</h3></td>
    <td>{{totalCartValue | currency}}</td>
</tr>

</table>


