<div>
    <form class="registration-form" >
        <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> REGISTRATION FORM</h3>
        <input type="text" class=" form-control" id=" frist name " placeholder=" frist name" ><br>
         <input type="text " class=" form-control" id=" last name "  placeholder=" last name "><br>
         <input type="text " class="form-control" id=" email " placeholder="email"> <br>
         <input type="password" class="form-control" placeholder="password"><br>
         <input type="password" class="form-control" placeholder="confirm password"><br>
         <input type="date" class="form-control" id="date of birth" placeholder="date of birth"><br>
         <button class="btn btn-primary"> Submit</button>
        

    </form>
</div>