<div>
    <form class="newbook-form" >
        <h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;"> REGISTRATION FORM</h3>
         <input type="text " class=" form-control" id="book id"  placeholder="book id"><br>

         <input type="text" class=" form-control" id=" book name" placeholder=" book name" ><br>

         <input type="text" class=" form-control" id=" book price" placeholder=" book price" ><br>

         <input type="file" class="form-control" placeholder="book file"><br>
         
         <button class="btn btn-primary">upload</button>
    </form>
</div>
